<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#202437">
    <meta name="description" content="Web app created using vanilla js & PWA">
    <meta name="author" content="Halawa Oji">

    <!-- META FOR IOS -->
    <!-- Adding a Launch Icon Title -->
    <meta name="apple-mobile-web-app-title" content="Watch Movies">
    <!-- Hiding Safari User Interface Components -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Changing the Status Bar Appearance -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <!-- MANIFEST -->
    <link rel="manifest" href="manifest.json">
    
    <!-- APPLE TOUCH ICON -->
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-192x192.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icons/apple-touch-icon-167x167.png">
    <title>Watch Movies</title>
</head>

<body>
    <app-bar></app-bar>
    <main id="content" class="content"></main>
    <aside-app></aside-app>
    <footer-app></footer-app>
</body>

</html>