.container-detail{
    padding: 50px 16px;
    margin: auto;
    position: relative;
}
detail-movie-item{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 100%;
    border-radius: 12px;
    row-gap: 30px;
    background-color: #262C40;
    padding: 16px;
    overflow: hidden;
}
detail-movie-item .body-card{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}
detail-movie-item .body-card img{
    width:100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.movie-vote{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.movie-vote ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 90%;
    margin: auto;
}
.movie-vote ul li, .rating{
    font-size: 16px;
    color: #696D74;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating{
    justify-content: flex-start;
}
svg{
    margin-right: 5px;
}

.movie-title{
    font-size: 24px;
    color: #F4F2F5;
    font-weight: 500;
}

.movie-tagline{
    font-size: 20px;
    color: #696D74;
}
.description, .movie-overview{
    margin-top: 16px;
    color: #F4F2F5;
    font-weight: 300;
    font-size: 16px;
}
.movie-homepage a{
    text-decoration: none;
    color: #8383f7;
    font-size: 14px;
}

.footer-card-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100px;
    margin-top: 50px;
}
.playButtonContainer, .likeButtonContainer{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play, .like{
    font-weight: 300;
    width: 100%;
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    outline: none;
    border: none;
    transition: all .6s ease-in;
}
.footer-card-detail button:focus{
    border: 1px solid #F4F2F5;
}
.play{
    background-color: #FFDD00;
    border: 1px solid #202437;
    color: #202437;
}
.like{
    background-color: #202437;
    color: #F4F2F5;
    border: 1px solid #F4F2F5;
}