/* bg 202437 */
/* white F4F2F5 */
/* card 262C40 */
/* yellow FFDD00 */


@import './app-bar.css';
@import './hero-app.css';
@import './movie-item.css';
@import './detail-movie.css';
@import './aside-app.css';
@import './footer-app.css';
@import './search-movies.css';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #202437;
    font-weight: 300;
}

.now-playing-movies,
.top-rated-movies,
.similar-movies,
.up-coming-movies,
video-list,
about-app{
    padding: 20px 16px;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    color: #F4F2F5;
    margin-bottom: 20px;
}

button{
    cursor: pointer;
    transition: all .5s ease-in;
}
video-list{
    height: 300px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    transition: transform .6s ease-in;
    transform: scale(0);
    opacity: 0;
}
video-list iframe{
    border-radius: 8px;
}
video-list.openVideo{
    transform: scale(1);
    opacity: 1;
}
about-app{
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px auto;
}
about-app h3{
  margin-top: 30px;
  color: #F4F2F5;
  font-size: 24px;
  font-weight: 500;
}
about-app p{
    line-height: 170%;
    color: #F4F2F5;
}
about-app .profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-top: 40px;
}
about-app .profil .img-profil{
    overflow: hidden;
    border-radius: 100%;
    display: block;
    border: 1px solid #F4F2F5;
    width: 90px;
    height: 90px;
    padding: 4px;
}
about-app img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
}
about-app h5 a{
    font-size: 20px;
    color: #F4F2F5;
    font-weight: 500;
    text-decoration: none;
}
about-app h5 .carrer{
    font-size: 15px;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }




